*.tar.gz
*.tgz
*.tar.bz2
*.tar.xz
*.html


*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

a.out
